.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--toolbarBackgroundColor);

  font-weight: 600;
  font-size: 25px;
  color: var(--toolbarFontColor);

  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--brandColor);

}

.toolbar a {
  margin: 0 2%;
}

.toolbar img {
  height: 50px;
}

.spacer {
  flex: 1;
}

.toolbarTitle {
  margin-right: 2%;
}

.content {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
