@import '../node_modules/primeng/resources/themes/saga-orange/theme.css';

:root {
  /* MAIN SETTINGS */
  font-family: 'Merriweather Sans', sans-serif;
  --fontColor: #1b1b1b;
  --brandColor: #034C8C;
  /* TOOLBAR SETTINGS */
  --toolbarFontColor: #1b1b1b;
  --toolbarBackgroundColor: white;
}
